<p id="notice"><%= notice %></p>

<p>
  <strong>Name en:</strong>
  <%= @item.name_en %>
</p>

<p>
  <strong>Name ja:</strong>
  <%= @item.name_ja %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
