<!DOCTYPE html>
<html>
<head>
  <title>LocalizeSampleTraco</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  current locale : <%= I18n.locale %>&nbsp;|&nbsp;
  <%= link_to 'en', set_locale_path(locale: :en) %>&nbsp;|&nbsp;
  <%= link_to 'ja', set_locale_path(locale: :ja) %>
</div>

<%= yield %>

</body>
</html>
